/*INNER AND OUTTER CONTAINER*/
.containerout {
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
    }

.containerin {
    padding: 2px 16px;
}
/*CARD STYLING*/
.card {
    display: flex;
    border: 5px solid black;
    align-items: center;
    font-family: serif;
    border-radius: 5px;
    background-color: rgb(191, 179, 245);
    overflow: visible;
    box-shadow: 10px;
    height: 500px;
    color: black;
    }
.cardheader {
    color: white;
    background-color: black;
    border: 5px #3d71d1;
}
.card:hover {
    border: 5px solid #3d71d1;
}

/*IMAGE STYLING*/
.card img {
    width: 100%;
    border: 1px solid black;
    height: 50%;
    color: transparent;
}
img {
    border-radius: 5px 5px 0 0;
    align-self: center;
    }

/*BODY*/
body {
    background-image: url(https://wallpaperaccess.com/full/1567666.png);
}

/*BUTTON STYLING*/
.button {
    display: inline-block;
    padding: 7px 20px;
        border-radius: 25px;
    color: white;
    transition: .4s;
}